<head>
    <meta chartset='UTF-8'> 
    <meta name="viewport" content= "width=device-width,initial-scale=1.0">
    <title> Node js crash course <%= title%></title>
    <style>
        
    </style>
</head>