<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class='blogs content'>
            <h2> About us</h2>
            <p>lorum ipsem dolar, sit amet consecutor...</p>
            <p>lorum ipsem dolar, sit amet consecutor...</p>
            <p>lorum ipsem dolar, sit amet consecutor...</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>